.detail {
    padding-top: 8rem;
    width: 98%;
    margin: 0 auto;
}

.detail__product {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail__img {
    flex-basis: 25vw;
    width: 100%;
}

.detail__description {
    flex-basis: 60vw;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .detail{
        padding-top: 6rem;
    }
    .detail__img {
        flex-basis: 60vw;
    }
}


@media screen and (max-width: 480px) {
    .detail {
        width: 100%;
    }

    .detail__product {
        flex-direction: column;
    }

    .detail__img {
        width: 100vw;
        height: auto;
        margin-bottom: 2rem;
    }
}