.fondo {
    padding-top: 4.75em;
    z-index: -1;
}

.fondo__img {
    width: 100vw;
    height: 55vh;
    object-fit: cover;
}

.fondo__description {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 2rem;
    font-family: cursive;
    justify-content: center;

}
.fondo__descuento{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 2rem;
    font-family: cursive;
    justify-content: center;
}
@media screen and (max-width: 991px) {
    .fondo{
        padding-top: 3.8rem;
    }
    .fondo__description{
        font-size: 2rem;
        top: 30%;
    }
    .fondo__descuento{
        font-size: 1.5rem;
        top: 40%;
    }
}
@media screen and (max-width: 480px) {
    .fondo__description{
        font-size: 2rem;
        left: 55%;
    }
    .fondo__descuento{
        font-size: 1.3rem;
        top: 50%;
        left: 55%;
    }
}
@media screen and (max-width: 320px) {
    .fondo__descuento{
        top: 50%;
    }
}